# Dossiers de données et logs
data/
mlruns/
monitoring/venv_drift/
venv/

# Environnements virtuels éventuels
.venv/
env/
ENV/

# Fichiers temporaires Python
__pycache__/
*.py[cod]
*.so

# Fichiers Jupyter et macOS
.ipynb_checkpoints/
.DS_Store

# Résultats temporaires
resultats_application_test.csv
